@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.body{
    padding: 100px;
    background-color: rgba(182, 194, 203,0.2);
}
.main{
    display: flex;
    /* border: 1px solid black; */
    margin-top: 90px;
    margin-left: 0px;
    justify-content: space-around;
}

.side1{
    width: 40%;
    text-align: left;
    /* border: 1px solid black; */
}

.logo>img{
    margin-left: -28px;
    margin-bottom: -15px;
    height: 106px;
    width: 300px;
}


.into{
    font-weight: 500;
    word-wrap: break-word;
    font-size: 25px;
}

.side2{
    width: 35%;
    height: 450px;
    margin-top: -55px;
}

.form{
    text-align: center;
    width: 80%;
    height: 90%;
    padding: 20px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 12px;

}

.form>form>input{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border:1px solid #DADDE1;
}
.btn2{
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #1877f2;
    color: white;
    border: 1px solid #29487d;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.text{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.btn1
{
    width: 55%;
    height: 50px;
    padding: 1px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
    background-color: #42b72a;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.text2{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
}

.link1{
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
.footer{
    width: auto;
}
.footer1{
    margin: 0 auto;
    width: 980px;
}
.language{

    margin-top: 50px;
    display: flex;
    list-style: none;

}
.language>li>a{
    margin:8px;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.language>li>a:hover{
    text-decoration: underline;

}
.btn3{
    height: 20px;
    width: 30px;
    margin-top: 4px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
}
.extra>ul>li{
    margin: 8px;
}
.extra>ul>li>a{
    text-decoration: none;
    color: black;
}
.extra>ul>li>a:hover{
    text-decoration: underline;
}
.btn2:hover{
    background-color: #1867ce;
}

.btn1:hover{
    background-color: #35ae1c;
}


@media screen and (max-width: 992px) {

    .body{
        padding-top: 10px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .main{
        margin-top: 0px;
        display: block;
        text-align: center;
    }
    .side1{
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
    .side2{
        width: 100%;
        margin-top: 50px;
      
    }
    .into{
        font-size: 1.45rem;
        margin-left: 20px;
        margin-right: 50px;
        padding-left: 5px;
    }
    .form{
        margin-left: 40px;
    }
    .text2{
        font-size: 0.75rem;
    }
    .footer1{
        width: auto;
        margin:0 20px;
    }
    .language{
        margin-top: 30px;
    }

}